<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Título do painel de materiais</h4>
            <p class="card-category">Criado usando a família Roboto Font</p>
        </div>
        <div class="card-body">
            <div id="typography">
                <div class="card-title">
                    <h2>Tipografia</h2>
                </div>
                <div class="row">
                    <div class="tim-typo">
                        <h1>
                            <span class="tim-note">Header 1</span>A Vida do Painel de Materiais </h1>
                    </div>
                    <div class="tim-typo">
                        <h2>
                            <span class="tim-note">Header 2</span>A Vida do Painel de Materiais</h2>
                    </div>
                    <div class="tim-typo">
                        <h3>
                            <span class="tim-note">Header 3</span>A Vida do Painel de Materiais</h3>
                    </div>
                    <div class="tim-typo">
                        <h4>
                            <span class="tim-note">Header 4</span>A Vida do Painel de Materiais</h4>
                    </div>
                    <div class="tim-typo">
                        <h5>
                            <span class="tim-note">Header 5</span>A Vida do Painel de Materiais</h5>
                    </div>
                    <div class="tim-typo">
                        <h6>
                            <span class="tim-note">Header 6</span>A Vida do Painel de Materiais</h6>
                    </div>
                    <div class="tim-typo">
                        <p>
                            <span class="tim-note">Parágrafo</span>
                            Eu serei o líder de uma empresa que acaba valendo bilhões de dólares, porque eu tenho as respostas. Eu entendo de cultura. Eu sou o núcleo. Acho que essa é uma responsabilidade que eu tenho, de empurrar possibilidades, mostrar às pessoas, esse é o nível em que as coisas poderiam estar.</p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Quote</span>
                        <blockquote class="blockquote">
                            <p>
                                Eu serei o líder de uma empresa que acaba valendo bilhões de dólares, porque eu tenho as respostas. Eu entendo de cultura. Eu sou o núcleo. Acho que essa é uma responsabilidade que eu tenho, de empurrar possibilidades, mostrar às pessoas, esse é o nível em que as coisas poderiam estar.
                            </p>
                            <small>
                                Kanye West, Musician
                            </small>
                        </blockquote>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Muted Text</span>
                        <p class="text-muted">
                            Eu serei o líder de uma empresa que acaba valendo bilhões de dólares, porque eu tenho as respostas. Eu entendo de cultura.
                        </p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Primary Text</span>
                        <p class="text-primary">
                            Eu serei o líder de uma empresa que acaba valendo bilhões de dólares, porque eu tenho as respostas. Eu entendo de cultura.
                        </p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Info Text</span>
                        <p class="text-info">
                            Eu serei o líder de uma empresa que acaba valendo bilhões de dólares, porque eu tenho as respostas. Eu entendo de cultura.
</p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Success Text</span>
                        <p class="text-success">
                            Eu serei o líder de uma empresa que acaba valendo bilhões de dólares, porque eu tenho as respostas. Eu entendo de cultura.
</p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Warning Text</span>
                        <p class="text-warning">
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
                        </p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Danger Text</span>
                        <p class="text-danger">
                            Eu serei o líder de uma empresa que acaba valendo bilhões de dólares, porque eu tenho as respostas. Eu entendo de cultura.
</p>
                    </div>
                    <div class="tim-typo">
                        <h2>
                            <span class="tim-note">Small Tag</span>
                            Cabeçalho com tag pequena
                            <br>
                            <small>Use "pequena" tag para o cabeçalho</small>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
