<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://robdsjr007.github.io/portfoliorobdsjr/">
                        Rob Dashboard
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/robdsjr007/">
                        Sobre mim
                    </a>
                </li>
                <li>
                    <a href="https://robdsjr007.github.io/portfoliorobdsjr/">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, feito com amor por
            <a href="https://github.com/Robdsjr007" target="_blank">Robdsjr</a>.
        </div>
    </div>
</footer>
